<div layout="row" style="font-family: 'Roboto', sans-serif;">
<div layout="row">
	<div style="width: 530px;">
		<div class="modal-header">
			<md-toolbar class="md-primary">
			<div class="md-toolbar-tools">
				<span class="md-flex"><h3>Describe Your Stack</h3></span>
			</div>
			</md-toolbar>
		</div>
			<div class="modal-body">
				<md-toolbar class="md-primary" style="height:40px; min-height: 0px;">
				<div class="md-toolbar-tools">
					<span class="md-flex">Default Operating System</span>
				</div>
				</md-toolbar>
				<md-content class="md-padding" style="" layout="row">
				<div style="width: 100%;">
				<md-input-container >
			      <label>Stack Name*</label> <input name="stackName" required ng-model="payload.id">
			      <div ng-messages="stackName.$error">
			      	<div ng-message="required">*Required</div>
			      </div>
    			</md-input-container>
				<md-checkbox ng-model="oneOS">Select a default operating system for your entire stack?</md-checkbox>
					 <select style="" ui-select2  data-placeholder="Select an OS" ng-model="pod.os" ng-change="setPodsOS(pod.os)">
					 <option value=""></option>
					 <option ng-repeat="os in osOptions" value="{{os}}">{{os}}</option>
					 </select>
				</div>
				</md-content>
			</div>

			<div class="modal-body" style="width: auto;">
			<div class="tabsdemoStaticTabs sample" flex>
			    <md-tabs class="" md-selected="data.selectedIndex" style="" flex>
				      <md-tab  aria-controls="tab1-content" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;">
				        	Web Server
				      </md-tab>
				      <md-tab  aria-controls="tab2-content" ng-disabled="data.secondLocked" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;">
				        	App Server
				      </md-tab>
				      <md-tab  aria-controls="tab3-content" style="height: auto !important;text-transform: none !important;border: 2pt solid rgb(241, 247, 249);min-width:163px !important;border-top-left-radius:10px;border-top-right-radius:10px;">
				        	Database
				      </md-tab>
			    </md-tabs>
    <ng-switch on="data.selectedIndex" class="tabpanel-container" >
        <div role="tabpanel" id="tab1-content" aria-labelledby="tab1" ng-switch-when="0">
            	<md-toolbar class="md-primary" style="border-left: 2pt solid rgb(241, 247, 249);border-right: 2pt solid rgb(241, 247, 249);height:40px; min-height: 0px;">
						<!-- <div class="md-toolbar-tools">
							<span class="md-flex">Configure Your Web Server:</span>
						</div> -->
						<h2 class="md-toolbar-tools">
        					<span>Configure Your Web Server:</span>
      					</h2>
						</md-toolbar>
							<md-content class="md-padding" style=""> 
								<div layout="row">
									<div style="width:60%;">
										<div flex>
											<md-input-container> 
												<label>Application Name*</label> <input name="webName" required ng-model="webPod.name"> 
<!-- 												<div ng-messages="webName.$error"> -->
<!-- 			      									<div ng-message="required">*Required</div> -->
<!-- 			      								</div> -->
											</md-input-container>
										</div>
										<div flex style="width: 50%;" ng-show="!oneOS">
										<md-subheader class="md-primary" style="padding: 0px !important;">Operating System*</md-subheader>
											 <select ui-select2 ng-model="webPod.os" data-placeholder="Select an OS">
											 <option value=""></option>
											 <option ng-repeat="os in osOptions" value="{{os}}">{{os}}</option>
											 </select>
										</div>
									<div flex>
											<md-input-container> 
												<label>Server Count*</label> 
													<input name="webCount" required ng-model="webPod.replicas" type="number" min="0"> 
<!-- 													<div ng-messages="webCount.$error"> -->
<!-- 			      									<div ng-message="required">*Required</div> -->
<!-- 			      								</div> -->
											</md-input-container>
										</div>
									</div>
									
									<div layout="column" style="">
										
										<div style="">
										<div >
										<md-subheader class="md-primary" style="padding: 0px !important;">Web Server*</md-subheader>
											<select ui-select2 ng-model="webPod.app" data-placeholder="Select a Web Server*" ng-change="setWebConfig(webPod.app)">
											 <option value=""></option>
											 <option ng-repeat="app in webApps" value="{{app.app}}">{{app.app}}</option>
											 </select>
											 </div>
											 
											 
											<div ng-model="webConfig" style="margin-top:8px;border-style:solid;border-radius:5px;border-width:1px;color:#bdbdbd"> 
											<md-list>
												<md-item>
													<md-item-content>
														<div class="md-tile-content" style="padding: 0 !important">
															<md-subheader class="md-primary" style="padding: 4px !important;"><u>Web Server Configuration</u></md-subheader>
															<ul>
																<li ng-repeat="config in webConfig">
																	{{config.key}}: {{config.val}}
																</li>
															</ul>
														</div>
													</md-item-content>
												</md-item>
											</md-list>
										</div>
										</div>
									</div>
								</div>
								<div style="font-family: 'Roboto', sans-serif;">*Required</div>
							</md-content>
							<!-- <div align="right" layout="row">
							
							<md-button class="md-raised md-primary" ng-click="next()">{{modal.getNextLabel()}}</md-button>
							</div> -->
        </div>
        
        <div role="tabpanel"
             id="tab2-content"
             aria-labelledby="tab2"
             ng-switch-when="1"
             >
            <md-toolbar class="md-primary" style="border-left: 2pt solid rgb(241, 247, 249);border-right: 2pt solid rgb(241, 247, 249);margin-right:3px;height:40px; min-height: 0px;">
						<div class="md-toolbar-tools">
							<span class="md-flex">Configure Your Application Server:</span>
						</div>
						</md-toolbar>
						<md-content class="md-padding" style=""> 
								<div layout="row">
									<div style="width:60%;">
										<div flex>
											<md-input-container> 
												<label>Application Name*</label> <input name="appName" required ng-model="appPod.name"> 
<!-- 												<div ng-messages="appName.$error"> -->
<!-- 			      									<div ng-message="required">*Required</div> -->
<!-- 			      								</div> -->
											</md-input-container>
										</div>
										<div flex style="width: 50%;" ng-show="!oneOS">
										<md-subheader class="md-primary" style="padding: 0px !important;">Operating Systems*</md-subheader>
											 <select ui-select2 ng-model="appPod.os" data-placeholder="Select an OS">
											 <option value=""></option>
											 <option ng-repeat="os in osOptions" value="{{os}}">{{os}}</option>
											 </select>
										</div>
									<div flex>
											<md-input-container> 
												<label>Server Count*</label> 
													<input name="appCount" required ng-model="appPod.replicas" type="number" min="0"> 
<!-- 													<div ng-messages="appCount.$error"> -->
<!-- 			      									<div ng-message="required">*Required</div> -->
<!-- 			      								</div> -->
											</md-input-container>
										</div>
									</div>
									
									<div layout="column" style="">
										
										<div style="">
										<md-subheader class="md-primary" style="padding: 0px !important;">Application Server*</md-subheader>
											<select ui-select2 ng-model="appPod.app" data-placeholder="Select an App Server" ng-change="setAppConfig(appPod.app)">
											 <option value=""></option>
											 <option ng-repeat="app in appApps" value="{{app.app}}">{{app.app}}</option>
											 </select>
											 
											 <div ng-model="webConfig" style="margin-top:8px;border-style:solid;border-radius:5px;border-width:1px;color:#bdbdbd" ng-show="!conf"> 
											<md-list>
												<md-item>
													<md-item-content>
														<div class="md-tile-content" style="padding: 0 !important">
															<md-subheader class="md-primary" style="padding: 4px !important;"><u>App Server Configuration</u></md-subheader>
															<ul>
																<li ng-repeat="config in appConfig">
																	{{config.key}}: {{config.val}}
																</li>
															</ul>
														</div>
													</md-item-content>
												</md-item>
											</md-list>
										</div>
										</div>
									</div>
								</div>
								<div style="font-family: 'Roboto', sans-serif;">*Required</div>
							</md-content>
        </div>
        <div role="tabpanel"
             id="tab3-content"
             aria-labelledby="tab3"
             ng-switch-when="2"
              >
            <md-toolbar class="md-primary" style="border-left: 2pt solid rgb(241, 247, 249);border-right: 2pt solid rgb(241, 247, 249);margin-right:5px;height:40px; min-height: 0px;">
						<div class="md-toolbar-tools">
							<span class="md-flex">Configure Your Database:</span>
						</div>
						</md-toolbar>
						<md-content class="md-padding" style=""> 
								<div layout="row">
									<div style="width:60%;">
										<div flex>
											<md-input-container> 
												<label>Application Name*</label> <input name="dbName" required ng-model="dbPod.name"> 
<!-- 												<div ng-messages="dbName.$error"> -->
<!-- 			      									<div ng-message="required">*Required</div> -->
<!-- 			      								</div> -->
											</md-input-container>
										</div>
										<div flex style="width: 50%;" ng-show="!oneOS">
										<md-subheader class="md-primary" style="padding: 0px !important;">Operating Systems*</md-subheader>
											 <select ui-select2 ng-model="dbPod.os" data-placeholder="Select an OS">
											 <option value=""></option>
											 <option ng-repeat="os in osOptions" value="{{os}}">{{os}}</option>
											 </select>
										</div>
									<div flex>
											<md-input-container> 
												<label>Server Count</label> 
													<input name="dbCount" required ng-model="dbPod.replicas" type="number" min="0"> 
<!-- 													<div ng-messages="dbCount.$error"> -->
<!-- 			      									<div ng-message="required">*Required</div> -->
<!-- 			      								</div> -->
											</md-input-container>
										</div>
									</div>
									
									<div layout="column" style="">
										
										<div style="">
										<md-subheader class="md-primary" style="padding: 0px !important;">Database*</md-subheader>
											<select ui-select2 ng-model="dbPod.app" data-placeholder="Select a Database" ng-change="setDBConfig(dbPod.app)">
											 <option value=""></option>
											 <option ng-repeat="app in dbApps" value="{{app.app}}">{{app.app}}</option>
											 </select>
											 
											<div ng-model="webConfig" style="margin-top:8px;border-style:solid;border-radius:5px;border-width:1px;color:#bdbdbd" ng-show="!conf"> 
											<md-list>
												<md-item>
													<md-item-content>
														<div class="md-tile-content" style="padding: 0 !important">
															<md-subheader class="md-primary" style="padding: 4px !important;"><u>Database Configuration</u></md-subheader>
															<ul>
																<li ng-repeat="config in dbConfig">
																	{{config.key}}: {{config.val}}
																</li>
															</ul>
														</div>
													</md-item-content>
												</md-item>
											</md-list>
										</div>
										</div>
									</div>
								</div>
								<div style="font-family: 'Roboto', sans-serif;">*Required</div>
							</md-content>
        </div>
    </ng-switch>
    <div layout="row">
    <div class="modal-footer" style="border: none !important;">
		<md-button class="md-raised md-primary" style="font-family: 'Roboto', sans-serif; font-weight:500;" ng-click="modal.dismiss()">Cancel</md-button>
		<md-button class="md-raised md-primary" style="font-family: 'Roboto', sans-serif; font-weight:500;" ng-click="previous()" ng-disabled="data.selectedIndex == 0">Back</md-button>
		<md-button class="md-raised md-primary" style="font-family: 'Roboto', sans-serif; font-weight:500;" ng-click="next()" ng-disabled="data.selectedIndex == 2">Next</md-button>
		<!-- <md-button class="md-raised md-primary" style="font-family: 'Roboto', sans-serif; font-weight:500;" ng-show="data.selectedIndex == 2" ng-click="launch()">Launch</md-button> -->
	</div>
    </div>
</div>
			<!-- <div>
					<div class="btn-group">
					<md-button class="md-raised"
						ng-class="{'md-primary':modal.isCurrentStep(0)}"
						ng-click="modal.setCurrentStep(0)">Single Server or Stack?</md-button>
					
					<md-button class="md-raised" ng-show="!lamp"
						ng-class="{'md-primary':modal.isCurrentStep()}"
						ng-click="modal.setCurrentStep(1)">Operating System</md-button>
					
						<md-button class="md-raised"
						ng-class="{'md-primary':modal.isCurrentStep(0)}"
						ng-click="modal.setCurrentStep(0)">Web Server</md-button>
					
					<md-button class="md-raised"
						ng-class="{'md-primary':modal.isCurrentStep(0)}"
						ng-click="modal.setCurrentStep(0)" ng-show="!lamp">Application Type</md-button>
						
						<md-button class="md-raised"
						ng-class="{'md-primary':modal.isCurrentStep(1)}"
						ng-click="modal.setCurrentStep(1)">App Server</md-button>
						
						<md-button class="md-raised"
						ng-class="{'md-primary':modal.isCurrentStep(3)}"
						ng-click="modal.setCurrentStep(3)" ng-show="!lamp">Name & Replica Count</md-button>
						
						<md-button class="md-raised"
						ng-class="{'md-primary':modal.isCurrentStep(2)}"
						ng-click="modal.setCurrentStep(2)">Database</md-button>
				</div> -->
				<!-- <div ng-switch="modal.getCurrentStep()" class="slide-frame">
					<div ng-switch-when="one" class="wave" style="width: 530px;">
						<div class="md-toolbar-tools">
							<span class="md-flex">Single Server or Stack?</span>
						</div>
						</md-toolbar>
						<md-content class="md-padding" style="" layout="row"> 
						<md-checkbox ng-click="switchLamp()"> Stack </md-checkbox>
						</md-content>
					</div>
					<div ng-switch-when="one" class="wave" style="">
						<div class="md-toolbar-tools">
							<span class="md-flex">Configure Your Database:</span>
						</div>
						</md-toolbar>
						<md-content class="md-padding" style=""> 
								<div layout="row">
									<div style="width:60%;">
										<div flex>
											<md-input-container> 
												<label>Application Name</label> <input ng-model="dbPod.name"> 
											</md-input-container>
										</div>
										<div flex style="width: 50%;">
										<md-subheader class="md-primary" style="padding: 0px !important;">Operating Systems</md-subheader>
											 <select ui-select2 ng-model="dbPod.os" data-placeholder="Select an OS">
											 <option value=""></option>
											 <option ng-repeat="os in osOptions" value="{{os}}">{{os}}</option>
											 </select>
										</div>
									<div flex>
											<md-input-container> 
												<label>Replica Count</label> 
													<input ng-model="dbPod.replicas" type="number" min="0"> 
											</md-input-container>
										</div>
									</div>
									
									<div layout="column" style="">
										
										<div style="">
										<md-subheader class="md-primary" style="padding: 0px !important;">Database</md-subheader>
											<select ui-select2 ng-model="appPod.app" data-placeholder="Select a Database" ng-change="setWebConfig(dbPod.app)">
											 <option value=""></option>
											 <option ng-repeat="app in dbApps" value="{{app.app}}">{{app.app}}</option>
											 </select>
											 
											 <ul ng-model="webConfig">
											 	<li>Configs: {{webConfig}}</li>
											 </ul>
											 
											 <div ng-model="webConfig"> 
											<md-list>
												<md-item>
													<md-item-content>
														<div class="md-tile-content">
															<ul>
																<li>Size+: {{webConfig}} </li>
															</ul>
														</div>
													</md-item-content>
												</md-item>
											</md-list>
										</div>
										</div>
									</div>
								</div>
							</md-content>
						</div>
	</div> -->
	<!-- <div> -->
	
	</div>
	</div>
	</div>
	
	<div flex="33" style="" class="modal-header" ng-model="podArray">
				<md-toolbar class="md-primary">
				<div class="md-toolbar-tools">
					<span class="md-flex">Your Stack</span>
				</div>
				</md-toolbar>
				<md-toolbar class="md-primary">
				<div class="md-toolbar-tools" ng-model="payload">
					<span class="md-flex">{{payload.id}}</span>
				</div>
				</md-toolbar>
				<md-content class="md-padding" style="height: auto;padding: 24px;">
				<!-- <md-subheader class="md-primary">Stack</md-subheader> <span>{{lamp}}</span>
				<md-divider></md-divider> -->
				
				<!-- <md-subheader class="md-primary">dbDisabled</md-subheader> <span>{{dbDisabled}}</span>
				<md-divider></md-divider> -->
			<div ng-model="webPod">
				<h6 style="color:#607d8b">Web Server</h6>
				<md-subheader class="md-primary" style="margin: 0px !important;padding: 0px !important;" ng-class="{ 'error': webPodNameError}">{{webPod.name}}</md-subheader>
				<md-list> 
					<md-item> 
						<md-item-content>
							<div class="md-tile-content" style="padding: 4px !important">
								<h4 ng-class="{ 'error': webPodOSError}">OS - {{webPod.os}}</h4>
								<h4 ng-class="{ 'error': webPodAppError}">App - {{webPod.app}}</h4>
								<h4>Server Count - {{webPod.replicas}}</h4>
							</div>
						</md-item-content> 
					</md-item>
					<div ng-model="webConfig" style="margin-top:8px;border-style:solid;border-radius:5px;border-width:1px;color:#bdbdbd"> 
											<md-list>
												<md-item>
													<md-item-content>
														<div class="md-tile-content" style="padding: 0 !important">
															<md-subheader class="md-primary" style="padding: 4px !important;"><u>Web Server Configuration</u></md-subheader>
															<ul>
																<li ng-repeat="config in webConfig">
																	{{config.key}}: {{config.val}}
																</li>
															</ul>
														</div>
													</md-item-content>
												</md-item>
											</md-list>
										</div> 
				</md-list>
			</div>

			<md-divider></md-divider>
				<!-- <div ng-show="!lamp">
				<md-subheader class="md-primary"  ng-model="pod">Operating System</md-subheader> <span>{{pod.os}}</span>
				</div> -->
				
				<div ng-model="appPod">
				<h6 style="color:#607d8b">Application Server</h6>
				<md-subheader class="md-primary" style="margin: 0px !important;padding: 0px !important;" ng-class="{ 'error': appPodNameError}">{{appPod.name}}</md-subheader>
				<md-list> 
					<md-item> 
						<md-item-content>
							<div class="md-tile-content" style="padding: 4px !important">
								<h4 ng-class="{ 'error': appPodAppError}">OS - {{appPod.os}}</h4>
								<h4 ng-class="{ 'error': appPodOSError}">App - {{appPod.app}}</h4>
								<h4>Server Count - {{appPod.replicas}}</h4>
							</div>
						</md-item-content> 
					</md-item> 
					<div ng-model="webConfig" style="margin-top:8px;border-style:solid;border-radius:5px;border-width:1px;color:#bdbdbd" ng-show="!conf"> 
											<md-list>
												<md-item>
													<md-item-content>
														<div class="md-tile-content" style="padding: 0 !important">
															<md-subheader class="md-primary" style="padding: 4px !important;"><u>App Server Configuration</u></md-subheader>
															<ul>
																<li ng-repeat="config in appConfig">
																	{{config.key}}: {{config.val}}
																</li>
															</ul>
														</div>
													</md-item-content>
												</md-item>
											</md-list>
										</div>
				</md-list>
				</div>
				<!-- <div ng-show="lamp">
				<md-subheader class="md-primary">Application</md-subheader> <span  ng-repeat="pod in podArray">{{pod.app}} |</span>
				</div>
				<div ng-show="!lamp">
				<md-subheader class="md-primary"  ng-model="pod">Application</md-subheader> <span>{{pod.app}}</span>
				</div> -->
				
				 <md-divider></md-divider> 
				 
				 <div ng-model="dbPod">
				 <h6 style="color:#607d8b">Database</h6>
				<md-subheader class="md-primary" style="margin: 0px !important;padding: 0px !important;" ng-class="{ 'error': dbPodNameError}">{{dbPod.name}}</md-subheader>
				<md-list> 
					<md-item> 
						<md-item-content>
							<div class="md-tile-content" style="padding: 4px !important">
								<h4 ng-class="{ 'error': dbPodOSError}">OS - {{dbPod.os}}</h4>
								<h4 ng-class="{ 'error': dbPodAppError}">App - {{dbPod.app}}</h4>
								<h4>Server Count - {{dbPod.replicas}}</h4>
							</div>
						</md-item-content> 
					</md-item> 
					<div ng-model="webConfig" style="margin-top:8px;border-style:solid;border-radius:5px;border-width:1px;color:#bdbdbd" ng-show="!conf"> 
											<md-list>
												<md-item>
													<md-item-content>
														<div class="md-tile-content" style="padding: 0 !important">
															<md-subheader class="md-primary" style="padding: 4px !important;"><u>Database Configuration</u></md-subheader>
															<ul>
																<li ng-repeat="config in dbConfig">
																	{{config.key}}: {{config.val}}
																</li>
															</ul>
														</div>
													</md-item-content>
												</md-item>
											</md-list>
										</div>
				</md-list>
				</div>
				 
				<md-button class="md-raised md-primary"
					style="margin-top:5%;margin-left:35%;" ng-click="launch()" >Launch</md-button> 
					<!-- <md-button class="md-raised md-primary"
					style="margin-top:5%;" ng-click="deletePod(pod)" ng-disabled="isDisabled">Delete</md-button> -->
					</md-content>
				<div ng-show="progress" >
<!-- 				<md-progress-linear class="md-warn" md-mode="buffer" value="{{determinateValue}}" md-buffer-value="{{determinateValue2}}"></md-progress-linear> -->
<!-- 				<md-progress-linear md-mode="indeterminate"></md-progress-linear> -->
					<div layout="column" layout-sm="column" layout-align="space-around" >
						<img style="display:block;margin-left:auto;margin-right:auto;height:100px; width:100px; padding:10px" src="assets/images/ajax-loader.gif"/>
						<h4 style="text-align:center;font-family: 'Roboto', sans-serif; font-weight:500;">Launching...</h4>
<!--      				<md-progress-circular md-mode="indeterminate" ng-show="show"></md-progress-circular> -->
    </div>
			</div>
			</div>
			</div>
	
	<!-- </div> -->

<!-- </div> -->
